@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');
// font-family: 'Righteous', cursive;
// font-family: 'Roboto', sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.app {
  height: '1500px';
  background: 'cornflowerblue';
}

.featured_container {
  position: 'relative';
}

.font_righteous {
  font-family: 'Righteous', cursive;
}

.bck_black {
  background: #3c3c3c;
}
.bck_white {
  background: #ffffff;
}
.bck_red {
  background: #ff4800;
}
.bck_yellow {
  background: #ffa800;
}

.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center_wrapper {
  width: 900px;
  margin: 0 auto;
}
